/*
Dark text                           #1e1e1e
Primary buttons                     #555555
Secondary buttons                   #c3c3c3
Body and modal background           #ececec
Light text, controls background     #fafafa
Delete color, error message         #cc0000
*/

body, p{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    background-color:#ececec;
    color:#1e1e1e;
    
    /*not sure if this an accessibility issue. keeps you from selecting text when you click on buttons*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

button { /*destyle buttons*/
    border: none;
    margin: 0px;
    padding:0px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover{
    opacity:0.8;
}

.primary-button{
    background-color: #555555;
    color: #fafafa;
}

.primary-button:active{
    color: #555555;
    background-color: #fafafa;
}

.secondary-button{
    background-color: #c3c3c3;
    color: #1e1e1e;
}

.secondary-button:active{
    color: #c3c3c3;
    background-color: #1e1e1e;
}

.alert-button{
    color: #cc0000;
    background-color: transparent;
}

:focus{
    outline:none;
    border: solid 1px #555555;
    box-shadow: 4px 4px 4px #555555;
}

h1{
    margin:16px 8px 8px 16px;
    font-size:1.5em;
    font-weight:500;
}

table, tr, td{
    margin:0px;
    padding:0px;
    border:none;
}

/*LOAD AND SAVE BUTTONS*/
#menu-buttons-container{
    min-width:488px;
    margin:24px 16px;
    height:32px;
}

.buttons-td{
    padding:8px;
    margin:0px;
    border:none;
}

.load-save-button{
    float:left;
    margin-right:16px;
    width:96px;
    padding:0px 8px;
    height:32px;
    line-height:32px;
    display:inline-block;
    text-align: center;
}

input[type="file"] { /*hack to treat the load button as an HTML file input but still have custom styling*/ 
    display: none;
}

#load-button{
    width:152px;
}

#clear-all-button{
    float:right;
    width:96px;
    padding:0px 8px;
    height:32px;
    line-height:32px;
    display:inline-block;
    text-align: center;
}

/*MODAL WINDOWS*/
#transparency{
    background-color:#1e1e1e;
    opacity:0.5;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    visibility:hidden;
    z-index:98;
}

.modal-window{
    background-color:#ececec;
    visibility:hidden;
    z-index:99;
}

.modal-label{
    position:fixed;
    top:40px;
    left:32px;
    font-size:1.5em;
    font-weight:500;
    text-align: left;  
}
.cancel-button{
    width:96px;
    height:32px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:32px;
}

.confirm-button{
    width:136px;
    height:32px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:32px;
}

.close-button{
    padding:0px;
    position:absolute;
    top:8px;
    right:8px;

    height:32px;
    width:32px;
    border-radius:18px;
    line-height:32px;
    text-align:center;
    
    font-size:1.25em;
}

/*ADDING COLOR */
#add-color-button-cell{
    padding:4px;
}

#add-color-button{
    height:48px;
    width:96px;
}

#add-color-modal{
    position:fixed;
    top:16px;
    left:16px;
    bottom:16px;
    right:16px;
    min-width:328px;
}

#add-color-controls-container{
    background-color:#fafafa;
    width:296px;
    height:312px;
    position:absolute;
    top:80px;
    left:16px;
}

#rgb-container{
    position:absolute;
    left:24px;
    top:24px;
}

.rgb-entry-form{
    display:inline-block;
    text-align:center;
    margin: 0px 0px;
}

.rgb-input{
    width:45px;
    padding:2px;
    padding-left:4px;
    font-size:0.9em;
    margin-left:3px;
    margin-right:8px;
}

#hex-container{
    position:absolute;
    left:24px;
    top:72px;
}

.hex-entry-form{
    display:inline-block;
    text-align:center;
}

.hex-input{
    width:72px;
    padding:2px;
    font-size:0.9em;
}

#color-display{
    width:248px;
    height:96px;
    position:absolute;
    left:24px;
    top:128px;
    background-color:#7f7f7f;
}

#add-color-cancel-button{
    position:absolute;
    top:256px;
    left:24px;
}

#add-color-confirm-button{
    position:absolute;
    top:256px;
    left:136px;
}

/*CHANGING COLOR*/
#modify-color-modal{
    position:fixed;
    top:16px;
    left:16px;
    bottom:16px;
    right:16px;
    overflow:scroll;
}

#selected-color-grid{
    position:absolute;
    background-color:#fafafa;
}

#modify-controls-container{
    background-color:#fafafa;
    width:296px;
    height:312px;
    position:fixed;
    top:96px;
    left:32px;
}

#modify-color-label{
    position:absolute;
    top:44px;
    left:104px;
    width:80px;
    height:48px;
    text-align:center;
    line-height:24px;
    background-color:#fafafa;
    font-size:0.9em;
}

#modify-color-display{
    position:absolute;
    top:24px;
    left:100px;
    width:88px;
    height:88px;
}

.modify-color-button{
    width:1px;
    height:1px;
    border-top:44px solid transparent;
    border-bottom:44px solid transparent;
    background-color:transparent;
    
    position:absolute;
    top:24px;
    
    font-size:0.9em;
    line-height: 0px;
    color:#1e1e1e;
}

#darker-button{
    border-right: 64px solid #c3c3c3;
    left:24px;
    text-indent: 15px;
}

#darker-button:focus{
    left:20px;
    top:20px;
    outline:none;
    border-top:48px solid transparent;
    border-bottom:48px solid transparent;
    border-right: 72px solid #c3c3c3;
    border-left:none;
    font-size:1.125em;
    text-indent: 15px;
    box-shadow: 2px 0px #1e1e1e;
}

#darker-button:active{
    border-right: 72px solid #1e1e1e;
    color:#c3c3c3;
}

#lighter-button{
    border-left: 64px solid #c3c3c3;
    left:200px;
    text-indent: -74px;
}

#lighter-button:focus{
    left:196px;
    top:20px;
    outline:none;
    border-top:48px solid transparent;
    border-bottom:48px solid transparent;
    border-left: 72px solid #c3c3c3;
    border-right:none;
    font-size:1.125em;
    text-indent: -82px;
    box-shadow: -2px 0px #1e1e1e;
}

#lighter-button:active{
    border-left: 72px solid #1e1e1e;
    color:#c3c3c3;
}

#modify-color-cancel-button{
    position:absolute;
    top:144px;
    left:24px;
}

#modify-color-confirm-button{
    position:absolute;
    top:144px;
    left:136px;
}

#delete-color-button{
    width:240px;
    position:absolute;
    top:208px;
    left:24px;
    text-align:center;
}

#instructions{
    position:absolute;
    top:256px; 
    left:24px;
    right:24px;
    font-size:0.9em;
    background-color:transparent;
    color: #555555;
}

/*PALETTE TABLE*/
#palette-container{
    clear:both;
    background-color:#fafafa;
    padding:8px;
    margin:16px;
    overflow:scroll;
}

.top-label-td{
    padding:4px;
}

.top-label-data{
    padding:0px;
    width:96px;
    height:48px;
    text-align: center;
    border-style:solid;
    border-width: 8px;
    font-size:0.75em;
}

.side-label-td{
    padding:4px;
}

.side-label-data{
    padding:0px;
    width:96px;
    height:56px;
    text-align: center;
    border-style:solid;
    border-width: 8px;
    font-size:0.75em;
}

.grid-item{
    padding:4px;
}

.grid-data{
    width:96px;
    height:56px;
}

.contrast-rating{
    text-align: center;
    font-size:1.2em; 
    padding-top:9px;
}
     
.contrast-value{
    text-align: center;
    font-size:0.75em;
    padding-top:3px;
}