/*
#fafafa;
#efefef;
#d7d7d7;
#bdbdbd;
#a3a3a3;
#8f8f8f;
#7b7b7b;
#747474;
#696969;
#5f5f5f;
#4e4e4e;
#1e1e1e;
*/


body, p{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    background-color:#efefef;
    color:#1e1e1e;
    
    /*not sure if this an accessibility issue. keeps you from selecting text when you click on buttons*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1{
    margin:20px 10px 10px 20px;
    font-size:1.5em;
    font-weight:500;
}

table, tr, td{
    margin:0px;
    padding:0px;
    border:none;
}

/*LOAD AND SAVE BUTTONS*/
#buttons-container{
    margin-left: 10px;
}

.buttons-td{
    padding:10px;
    margin:0px;
    border:none;
}

.load-save-button{
    min-width:100px;
    padding:0px 10px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:30px;
    background-color: #5f5f5f;
    color:#efefef;
    cursor:default;
}

.load-save-button:hover{
    opacity:0.8;
}

/*disable button, for unimplemented feature*/
#save-ase-button{
    opacity: 0.2;
}

/*MODAL WINDOWS*/
#transparency{
    background-color:#000000;
    opacity:0.5;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:98;
    visibility:hidden;
}

.modal-window{
    background-color:#efefef;
    visibility:hidden;
    z-index:99;
}

.modal-label{
    margin:30px 20px;
    font-size:1.5em;
    font-weight:500;
    text-align: left;  
}
.cancel-button{
    width:100px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:30px;
    background-color: #d7d7d7;
    color:#5f5f5f;
    cursor:default;
}

.confirm-button{
    width:140px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:30px;
    background-color: #5f5f5f;
    color:#efefef;
    cursor:default; 
}

.cancel-button:hover, .confirm-button:hover, #lighter-button:hover, #darker-button:hover{
    opacity:0.8;
}

/*ADDING COLOR */
#add-color-button{
    text-align:center;
    line-height:50px;
    height:50px;
    width:110px;
    color:#1e1e1e;
    cursor:default;
    background-color:#bdbdbd;
}

#add-color-button:hover{
    opacity:0.8;
}

#add-color-modal{
    position:fixed;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    min-width:280px;
}

#add-color-controls-container{
    background-color:#fafafa;
    width:320px;
    height:330px;
    position:absolute;
    top:80px;
    left:20px;
}

#rgb-container{
    position:absolute;
    left:50%;
    margin-left:-130px;
    top:30px;
}

.rgb-entry-form{
    display:inline-block;
    text-align:center;
    margin: 0px 0px;
}

.rgb-input{
    width:40px;
    padding:3px 5px;
    font-size:0.9em;
    margin-left:3px;
    margin-right: 10px;
}

#hex-container{
    position:absolute;
    left:50%;
    margin-left:-130px;
    top:75px;
}

.hex-entry-form{
    display:inline-block;
    text-align:center;
}

.hex-input{
    width:70px;
    padding:3px 5px;
    font-size:0.9em;
}

#color-display{
    width:260px;
    height:100px;
    position:absolute;
    left:50%;
    top:120px;
    margin-left:-130px;
    background-color:#7f7f7f;
}

#add-color-cancel-button{
    position:absolute;
    top:260px;
    left:50%;
    margin-left:-130px;
}

#add-color-confirm-button{
    position:absolute;
    top:260px;
    left:50%;
    margin-left:-10px;
}

/*CHANGING COLOR*/
#modify-color-modal{
    position:fixed;
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    min-width:300px;
    overflow:auto;
}

#selected-color-grid{
    position:absolute;
    top:80px;
    left:20px;
    background-color:#fafafa;
}

#modify-controls-container{
    background-color:#fafafa;
    width:300px;
    height:310px;
    position:absolute; //make this fixed, but need to adjust everything else
    top:80px;
    left:150px;
}

#modify-color-display{
    position:absolute;
    top:30px;
    left:50%;
    margin-left:-45px;
    width:90px;
    height:90px;
    background-color:red;
}

#darker-button{
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-right: 70px solid #d7d7d7;
    border-bottom: 45px solid transparent;
    
    position:absolute;
    top:30px;
    left:50%;
    margin-left:-125px;
    
    background-color:none;
    cursor:default;
}

#darker-button:active{
    border-right: 70px solid #bdbdbd;
}

#left-arrow-label{
    width:70px;
    margin-left:18px;
    margin-top:-10px;
    text-align:left;
    font-size:0.95em;
    color: #5f5f5f;
}

#lighter-button{
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-left: 70px solid #d7d7d7;
    border-bottom: 45px solid transparent;
    
    position:absolute;
    top:30px;
    left:50%;
    margin-left:55px;
    
    background-color:none;
    cursor:default;
}

#lighter-button:active{
    border-left: 70px solid #bdbdbd;
}

#right-arrow-label{
    width:80px;
    margin-left:-63px;
    margin-top:-10px;
    text-align:left;
    font-size:0.95em;
    color: #5f5f5f;
}

.modify-color-button{
    color:#efefef;
    cursor:default;
}

#modify-color-cancel-button{
    position:absolute;
    top:160px;
    left:50%;
    margin-left:-125px;
}

#modify-color-confirm-button{
    position:absolute;
    top:160px;
    left:50%;
    margin-left:-15px;
}

#delete-color-button{
    width:160px;
    position:absolute;
    top:220px;
    left:50%;
    margin-left:-80px;
    text-align:center;
    color: #cc0000;
    cursor:default;
    font-size:1.075em;
}

#delete-color-button:hover{
    color: #aa0000;
}

#instructions{
    position:absolute;
    top:260px; 
    left:20px;
    right:20px;
    font-size:0.875em;
    background-color:transparent;
    color: #1e1e1e;
    
}

/*PALETTE TABLE*/
#palette-container{
    clear:both;
    background-color:#fafafa;
    padding:5px;
    margin:10px;
}

.top-label-td{
    width:100px;
    height:40px;
    padding:5px;
    cursor:default;
}

.top-label-data{
    width:80px;
    height:20px;
    background-color: #fafafa;
    color:#1e1e1e;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border: 10px solid;
    font-size:0.75em;
}

.side-label-td{
    width:60px;
    height:60px;
    padding:5px;
    cursor:default;
}

.side-label-data{
    width:80px;
    height:20px;
    background-color: #fafafa;
    color:#1e1e1e;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border: 10px solid;
    border-top:20px solid;
    border-bottom: 20px solid;
    font-size:0.75em;
}

.top-label-data:hover, .side-label-data:hover{
    opacity:0.8;
}

.grid-item{
    width:100px;
    height:60px;
    padding:5px;
}

.grid-data{
    width:100px;
    height:60px;
}

.contrast-rating{
    text-align: center;
    font-size:1.25em; 
    padding-top:10px;
}
     
.contrast-value{
    text-align: center;
    font-size:0.75em;
    padding-top:5px;
}