/*
#fafafa;
#efefef;
#d7d7d7;
#bdbdbd;
#a3a3a3;
#8f8f8f;
#7b7b7b;
#747474;
#696969;
#5f5f5f;
#4e4e4e;
#1e1e1e;
*/


body, p{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    background-color:#efefef;
    color:#1e1e1e;
}

h1{
    margin:20px 10px 10px 10px;
    font-size:1.5em;
    font-weight:500;
}

h2{
    margin:40px;
    font-size:1.5em;
    font-weight:500;
    text-align: center;
}

table, tr, td{
    margin:0px;
    padding:0px;
    border:none;
}

/*LOAD AND SAVE BUTTONS*/
#buttons-container{
    margin-left: 10px;
}

.buttons-td{
    padding:10px;
    margin:0px;
    border:none;
}

.load-button{
    width:120px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:30px;
    background-color: #5f5f5f;
    color:#efefef;
    cursor:default;
}

.load-button:hover{
    opacity:0.8;
}

.save-button{
    width:120px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:30px;
    background-color: #7b7b7b;
    color:#efefef;
    cursor:default;
}

.save-button:hover{
    opacity:0.8;
}

#save-ase-button{
    opacity: 0.2;
}

/*MODAL WINDOWS*/
#transparency{
    background-color:#000000;
    opacity:0.5;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:98;
    visibility:hidden;
}

.cancel-button{
    width:100px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:30px;
    background-color: #d7d7d7;
    color:#5f5f5f;
    cursor:default;
}

.confirm-button{
    width:140px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    line-height:30px;
    background-color: #5f5f5f;
    color:#efefef;
    cursor:default; 
}

/*ADDING COLOR */
#add-color-button{
    text-align:center;
    line-height:50px;
    height:50px;
    width:110px;
    color:#1e1e1e;
    cursor:default;
    background-color:#bdbdbd;
}

#add-color-button:hover{
    opacity:0.8;
}

#add-color-modal{
    background-color:#efefef;
    position:fixed;
    top:60px;
    left:50%;
    width:500px;
    height:425px;
    margin-left:-250px;
    visibility:hidden;
    z-index:99;
}

#color-display{
    width:260px;
    height:100px;
    position:absolute;
    left:50%;
    top:215px;
    margin-left:-130px;
    background-color:#7f7f7f;
}

#rgb-container{
    position:absolute;
    left:50%;
    margin-left:-130px;
    top:105px;
}

.rgb-entry-form{
    display:inline-block;
    text-align:center;
    margin: 0px 0px;
}

.rgb-input{
    width:40px;
    padding:3px 5px;
    font-size:0.9em;
    margin-left:3px;
    margin-right: 10px;
}

#hex-container{
    position:absolute;
    left:50%;
    margin-left:-130px;
    top:150px;
}

.hex-entry-form{
    display:inline-block;
    text-align:center;
}

.hex-input{
    width:70px;
    padding:3px 5px;
    font-size:0.9em;
}

#add-color-cancel-button{
    position:absolute;
    top:355px;
    left:50%;
    margin-left:-130px;
}

#add-color-confirm-button{
    position:absolute;
    top:355px;
    left:50%;
    margin-left:-10px;
}

/*PALETTE TABLE*/
#palette-container{
    clear:both;
    background-color:#fafafa;
    padding:5px;
    margin:10px;
}

.top-label-td{
    width:100px;
    height:40px;
    padding:5px;
    cursor:default;
}

.top-label-data{
    width:80px;
    height:20px;
    background-color: #fafafa;
    color:#1e1e1e;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border: 10px solid;
    font-size:0.75em;
}

.top-label-data:hover{
    opacity:0.8;
}

.side-label-td{
    width:60px;
    height:80px;
    padding:5px;
    cursor:default;
}

.side-label-data{
    width:80px;
    height:20px;
    background-color: #fafafa;
    color:#1e1e1e;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border: 10px solid;
    border-top:30px solid;
    border-bottom: 30px solid;
    font-size:0.75em;
}

.side-label-data:hover{
    opacity:0.8;
}

.grid-item{
    width:100px;
    height:80px;
    padding:5px;
}

.grid-data{
    width:100px;
    height:80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
}